<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabinhantu.baseapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.sabinhantu.SABApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.donor.HomeDonorActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.asker.HomeAskerActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.details.DonationDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.welcome.WelcomeActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>